@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#head {
    text-align: center;
}

#heading {
    font-size: 36px;
    font-weight: 600;
}

.head2 {
    font-size: 24px;
    font-weight: 600;
}

.body-text {
    font-size: 16px;
    font-weight: 400;
}
